<!-- Vision & Mission Section -->
<section class="vision-mission-section">

<div class="text-content">
        <div class="About-content text-center">
            <h2 class="Aboutus fs-1 fw-bolder mb-5" data-bigletter="الرؤية & الرسالة">
               نحو المستقبل & التزامنا
            </h2>
            <hr>
        </div>
    </div>


    <div class="container-fluid pt-5">
        <div class="row g-0">

            <!-- Vision -->
            <div class="col-12 col-lg-6 vision-box d-flex flex-column justify-content-center align-items-center p-5">

                <h2 class="fw-bold mb-4 text-white">
                    <span><i class="fa-regular fa-gem"></i></span> الرؤية (Vision)
                </h2>
                <p class="text-v fs-5">
                    أن نكون الوجهة الأولى للمواهب الطموحة والمحرك الرائد لنجاح ريادة الأعمال ورواد الأعمال،
                    عبر بناء جسر مباشر بين التعليم الأكاديمي ومتطلبات سوق العمل المتغيرة، وتحقيق تأثير اقتصادي ملموس
                    من خلال تمكين قادة المستقبل ورواد المشاريع المبتكرة.
                </p>
            </div>

            <!-- Mission -->
            <div class="col-12 col-lg-6 mission-box d-flex flex-column justify-content-center align-items-center p-5">
                <h2 class="fw-bold mb-4 text-success">
                    <span><i class="fa-solid fa-stairs"></i>
                    </span> الرسالة (Mission)
                </h2>
                <p class="text-m fs-5">
                    نلتزم بتزويد المهنيين ورواد الأعمال بالمهارات التطبيقية والجدارات العملية التي يحتاجونها للنمو
                    والتفوق في مسيرتهم.
                    نحقق ذلك من خلال:
                </p>
                <ul class="text-m fs-6">
                    <li>تصميم برامج تعليمية مكثفة وعملية بالتعاون المباشر مع قادة الصناعة والشركات.</li>
                    <li>التركيز على التعلم القائم على المشاريع، ودراسات الحالة الواقعية، ومحاكاة بيئة الأعمال.</li>
                    <li>توفير بيئة داعمة تشمل حاضنات أعمال، وخدمات إرشاد وتوجيه، وشبكة واسعة من الخبراء والمستثمرين.
                    </li>
                    <li>تمكين طلابنا من تحويل أفكارهم المبتكرة إلى مشاريع ناجحة ومستدامة تساهم في تطوير الاقتصاد.</li>
                </ul>
            </div>

        </div>
    </div>
</section>