<!-- Start footer -->
<footer class="footer" id="footer">
    <div class="container-footer">
        <div class="left1">
            <div class="content-left1">
                <img src="assets/images/LOGO-removebg-preview.webp" alt="">
            </div>
            <p>نلتزم بتقديم تعليم تنفيذي يواكب متطلبات الاقتصاد العالمي الحديث.</p>
            <h3>ابقَ على اطلاع</h3>
            <div class="icons-left1">
                <ul>
                    <li>
                        <a href="">
                            <i class="fab fa-tiktok"></i>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="middle2">
            <div class="subcribe-box">
                <h3>الاعتمادات الدولية والشركاء</h3>
            </div>
            <div class="logos d-flex justify-content-start flex-wrap py-2">
                <div class="logo-box">
                    <img src="assets/images/A0AEC0.svg" alt="IIBA" class="w-75" />
                </div>
                <div class="logo-box">
                    <img src="assets/images/A0AEC0 (1).svg" alt="PMI" class="w-75" />
                </div>
                <div class="logo-box">
                    <img src="assets/images/A0AEC0 (2).svg" alt="EQUIS" class="w-75"/>
                </div>
                <div class="logo-box">
                    <img src="assets/images/A0AEC0 (3).svg" alt="AMBA" class="w-75"/>
                </div>
                <div class="logo-box">
                    <img src="assets/images/A0AEC0 (4).svg" alt="AACSB" class="w-75"/>
                </div>
            </div>
            <div class="quick-Links">
                <h3>الروابط السريعة</h3>
                <ul>
                    <li routerLink="/home">
                        <a >الرئيسية</a>
                    </li>
                    <li routerLink="/" fragment="about">
                        <a >من نحن</a>
                    </li>
                    <li routerLink="/" fragment="programs">
                        <a >برامج الماجستير</a>
                    </li>
                    <li routerLink="/" fragment="programsPHD">
                        <a >برامج الدكتوراه</a>
                    </li>
                    <li routerLink="/" fragment="diploma">
                        <a >البرامج المهنية</a>
                    </li>
                    <li routerLink="/" fragment="knowledge">
                        <a >مصادر معرفية</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="right3">
            <h3>جميع الحقوق محفوظه لجامعة مدي © 2025</h3>
            <ul>
                <li>
                    <i class="fas fa-map-marker-alt"></i>
                    <span>A108 Adam Street, New York, NY 535022</span>
                </li>
                <li>
                    <i class="fas fa-envelope"></i>
                    <a href="mailto:contact@example.com">contact&#64;example.com</a>
                </li>
                <li>
                    <i class="fas fa-phone-alt"></i>
                    <a href="tel:+1 5589 55488 55">+1 5589 55488 55</a>
                </li>
            </ul>
        </div>
    </div>
</footer>
<!-- End footer -->