<!-- Team Section -->
<section class="team-section">
    <div class="text-content">
        <div class="About-content text-center">
            <h2 class="Aboutus fs-1 fw-bolder mb-5" data-bigletter="أعضاء هيئة التدريس ">
               النخبة الأكاديمية
            </h2>
            <hr>
        </div>
    </div>


    
    <div class="container">
        <h2 class=" fw-bold mb-5 py-4 text-edit"><span><i class="fa-solid fa-handshake"></i>
            </span> النخبة الدولية</h2>
        <div class="row g-4 mb-5">

            <!-- Member Card -->
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="team-card text-center shadow-sm">
                    <img src="assets/images/user-teams.webp" class="img-fluid rounded-top"
                        alt="عضو هيئة التدريس">
                    <div class="team-name">Prof. David Harrison <br> أستاذ القيادة الاستراتيجية ورئيس قسم إدارة الأعمال
                    </div>
                </div>
            </div>

            <!-- كرر باقي الأعضاء -->
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="team-card text-center shadow-sm">
                    <img src="assets/images/female-02.webp" class="img-fluid rounded-top"
                        alt="عضو هيئة التدريس">
                    <div class="team-name">Dr. Elena Romanova <br> أستاذ مشارك في علوم البيانات والذكاء الاصطناعي</div>
                </div>
            </div>

            <!-- مثال صورة بدون شخص -->
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="team-card text-center shadow-sm">
                    <img src="assets/images/user-teams.webp" class="img-fluid rounded-top" alt="صورة افتراضية">
                    <div class="team-name">Dr. Alan Chen <br> أستاذ الإدارة المالية والتقنية المالية (FinTech)</div>
                </div>
            </div>

            <!-- مثال صورة بدون شخص -->
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="team-card text-center shadow-sm">
                    <img src="assets/images/female-02.webp" class="img-fluid rounded-top" alt="صورة افتراضية">
                    <div class="team-name">Prof. Sarah Jenkins <br> أستاذة التسويق الاستراتيجي وبناء العلامات التجارية
                    </div>
                </div>
            </div>

            <!-- مثال صورة بدون شخص -->
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="team-card text-center shadow-sm">
                    <img src="assets/images/user-teams.webp" class="img-fluid rounded-top" alt="صورة افتراضية">
                    <div class="team-name">Dr. Markus Schultz <br> أستاذ إدارة سلاسل الإمداد والعمليات (من ألمانيا)
                    </div>
                </div>
            </div>

        </div>

        <h2 class=" fw-bold mb-5 text-edit"><span><i class="fa-solid fa-handshake"></i>
            </span> النخبة العربية</h2>
        <div class="row g-4 mb-5">

            <!-- Member Card -->
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="team-card text-center shadow-sm">
                    <img src="assets/images/حسن الزهراني.webp" class="img-fluid rounded-top"
                        alt="عضو هيئة التدريس">
                    <div class="team-name">د. حسن الزهراني <br> محاضر</div>
                </div>
            </div>

            <!-- كرر باقي الأعضاء -->
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="team-card text-center shadow-sm">
                    <img src="assets/images/محمد مبارك الدوسري.webp" class="img-fluid rounded-top"
                        alt="عضو هيئة التدريس">
                    <div class="team-name">د. محمد مبارك الدوسري <br> محاضر</div>
                </div>
            </div>

            <!-- مثال صورة بدون شخص -->
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="team-card text-center shadow-sm">
                    <img src="assets/images/خلف.webp" class="img-fluid rounded-top" alt="صورة افتراضية">
                    <div class="team-name">د. خلف بن عطيش <br> محاضر</div>
                </div>
            </div>

            <!-- مثال صورة بدون شخص -->
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="team-card text-center shadow-sm">
                    <img src="assets/images/مصطفي احمد.webp" class="img-fluid rounded-top" alt="صورة افتراضية">
                    <div class="team-name">د. مصطفي أحمد <br> محاضر</div>
                </div>
            </div>

            <!-- مثال صورة بدون شخص -->
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="team-card text-center shadow-sm">
                    <img src="assets/images/user-teams.webp" class="img-fluid rounded-top" alt="صورة افتراضية">
                    <div class="team-name">بروف. فهد العتيبي <br> أستاذ زائر في التحول الرقمي والاستراتيجيات الحكومية
                    </div>
                </div>
            </div>

            <!-- مثال صورة بدون شخص -->
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="team-card text-center shadow-sm">
                    <img src="assets/images/female-02.webp" class="img-fluid rounded-top" alt="صورة افتراضية">
                    <div class="team-name">د. مريم الهاشمي <br> أستاذة التمويل والاستثمار (من الإمارات العربية المتحدة)
                    </div>
                </div>
            </div>

            <!-- مثال صورة بدون شخص -->
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="team-card text-center shadow-sm">
                    <img src="assets/images/user-teams.webp" class="img-fluid rounded-top" alt="صورة افتراضية">
                    <div class="team-name">الدكتور شريف الجمل <br> أستاذ الذكاء الاصطناعي وهندسة البرمجيات (من جمهورية
                        مصر العربية)</div>
                </div>
            </div>

            <!-- مثال صورة بدون شخص -->
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="team-card text-center shadow-sm">
                    <img src="assets/images/user-teams.webp" class="img-fluid rounded-top" alt="صورة افتراضية">
                    <div class="team-name">بروف. طارق حداد <br> أستاذ الأمن السيبراني وإدارة المخاطر (من المملكة
                        الأردنية الهاشمية)</div>
                </div>
            </div>

            <!-- مثال صورة بدون شخص -->
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="team-card text-center shadow-sm">
                    <img src="assets/images/user-teams.webp" class="img-fluid rounded-top" alt="صورة افتراضية">
                    <div class="team-name">د. جاسم الكواري <br> أستاذ إدارة المشاريع الكبرى والطاقة (من دولة قطر)</div>
                </div>
            </div>

            <!-- مثال صورة بدون شخص -->
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="team-card text-center shadow-sm">
                    <img src="assets/images/female-02.webp" class="img-fluid rounded-top" alt="صورة افتراضية">
                    <div class="team-name">د. لولوة آل خليفة <br> أستاذة الخدمات المصرفية المفتوحة والتقنية المالية
                        (FinTech)</div>
                </div>
            </div>

            <!-- مثال صورة بدون شخص -->
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="team-card text-center shadow-sm">
                    <img src="assets/images/user-teams.webp" class="img-fluid rounded-top" alt="صورة افتراضية">
                    <div class="team-name">أ. بدر ناصر <br> أستاذ إدارة الثروات والصناديق السيادية (من دولة الكويت)
                    </div>
                </div>
            </div>

            <!-- مثال صورة بدون شخص -->
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="team-card text-center shadow-sm">
                    <img src="assets/images/female-02.webp" class="img-fluid rounded-top" alt="صورة افتراضية">
                    <div class="team-name">د. هالة منصور <br> أستاذة التسويق الرقمي والإعلام الجديد (من جمهورية مصر
                        العربية)</div>
                </div>
            </div>

            <!-- مثال صورة بدون شخص -->
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="team-card text-center shadow-sm">
                    <img src="assets/images/user-teams.webp" class="img-fluid rounded-top" alt="صورة افتراضية">
                    <div class="team-name">م. عمر الزامل <br> أستاذ ممارس في ريادة الأعمال والاستثمار الجريء (VC)</div>
                </div>
            </div>
        </div>
    </div>
</section>