.text-content {
  padding: 70px 0;
  /* background-color: #eeeff0; */
  background-image: linear-gradient(rgba(0, 45, 98, 0.65), rgba(0, 45, 98, 0.65)), url(../../../assets/images/shadows-made-by-daylight-city-with-architecture.webp);
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

.About-content p {
  font-size: 18px;
  color: #ffffff91;
}

.Aboutus {
  position: relative;
  color: #009447;
}

.Aboutus::before {
  content: attr(data-bigletter);
  position: absolute;
  font-size: 1.5em;
  opacity: .1;
  top: -0.5em;
  left: 0;
  right: 0;
  margin: auto;
  text-transform: uppercase;
  color: #fff;
}

.About-content hr {
  width: 40px;
  border-top: 2px solid #009447;
  margin: 0 auto 20px;
  transition: all .3s;
}

.About-content:hover hr {
  width: 80px;
}


.accreditations{
    padding: 130px 0;
}

.accreditations h5 {
  color: #002D62;
}

.accreditations .card {
  border-left: 4px solid #009447;
  border-radius: 10px;
}

.accreditations .nav-link {
  color: #002D62;
  font-weight: 600;
  margin: 5px;
}

.accreditations .nav-link.active {
  background-color: #009447;
  color: #fff !important;
  border-radius: 5px;
}

/* في الشاشات الصغيرة */
@media (max-width: 576px) {
  .accreditations p {
    font-size: 14px;
  }
  .accreditations .card {
    text-align: center;
  }

  .accreditations{
    padding: 190px 0;
}
}
