<!-- Home -->
<div class="Home d-flex justify-content-center align-items-center home" id="home">
    <div class="container-fluid p-0">
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="assets/images/hercules-hall-surrounded-by-greenery-sunlight-daytime-munich-germany2.webp"
                        class="d-block vh-100 w-100 carousel-img" alt="hercules-hall">
                    <div class="carousel-caption ">
                        <h1 class="text-white fs-1 fw-bolder">جامعة برؤية عالمية ورسالة لصناعة قادة الغد</h1>
                        <div class="buttons-home mt-4">
                            <button class=" px-3 py-2  me-3 color-button-home" routerLink="/" fragment="programs">استكشف
                                البرامج</button>
                            <button class=" px-3 py-2 mt-2 me-3  color-button-home" routerLink="/" fragment="contact">
                                تواصل معنا</button>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="assets/images/student-life-gu355k9.webp" class="d-block vh-100 w-100 carousel-img"
                        alt="student-life">
                    <div class="carousel-caption">
                        <h1 class="text-white fs-1 fw-bolder">مع برامجنا الأكاديمية نصنع معًا جيلًا قادرًا على قيادة
                            التغيير وصناعة الفرق</h1>
                        <div class="buttons-home mt-4">
                            <button class=" px-3 py-2  me-3 color-button-home" routerLink="/" fragment="programs">
                                استكشف البرامج</button>
                            <button class=" px-3 py-2 mt-2 me-3 color-button-home" routerLink="/templates">تواصل معنا
                            </button>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="assets/images/4.webp" class="d-block vh-100 w-100 carousel-img" alt="student">
                    <div class="carousel-caption">
                        <h1 class="text-white fs-1 fw-bolder">هنا تبدأ قصتك مع العلم… لتصبح قائدًا في عالم يتغير بسرعة
                        </h1>
                        <div class="buttons-home mt-4">
                            <button class=" px-3 py-2  me-3 color-button-home" routerLink="/" fragment="programs">
                                استكشف البرامج</button>
                            <button class=" px-3 py-2 mt-2 me-3 color-button-home" routerLink="/templates">تواصل معنا
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="buttons-slide rounded-end-1">
                <div class="angle-next pt-3 carousel-control-next" type="button"
                    data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                    <i class="fa-solid fa-angle-right angelrigt fs-3"></i>
                </div>
                <hr>
                <div class="angle-left carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                    data-bs-slide="prev">
                    <i class="fa-solid fa-angle-left angelleft fs-3"></i>
                </div>
            </div>

            <div class="mouse hidden-xs">
                <a routerLink="/" fragment="blog"><span class="wheel"></span></a>
            </div>
        </div>
    </div>




</div>
<!-- Home -->



<!-- About -->
<section class="herooo" id="about">
    <section class="hero-section container">
        <!-- الخلفية كعنصر منفصل -->
        <div class="hero-bg">
            <img src="assets/images/hercules-hall-surrounded-by-greenery-sunlight-daytime-munich-germany.webp"
                alt="Background-hercules-hall">
        </div>

        <!-- البوكس اللي فيه الكلام + الصورة -->
        <div class="content-box">
            <div class="text-and-img">
                <div class="extra-img">
                    <img src="assets/images/DSC01261.webp" alt="Extra-info">
                </div>
                <div class="text-content">
                    <div class="About-content text-center">
                        <h2 class="Aboutus fs-1 fw-bolder mt-3" data-bigletter="من نحن؟">
                            مرحبا بكم في جامعة مدي
                        </h2>
                        <hr>
                        <p class="text-start mt-md-4">
                            في جامعة مدي، نلتزم بتقديم تعليم عالي الجودة يجمع بين العمق الأكاديمي والرؤية العملية، ليمنح
                            طلابنا القدرة على مواجهة التحديات وصناعة فرص جديدة في عالم سريع التغير. برامج الماجستير
                            والدكتوراه لدينا لا تقتصر على منح درجة علمية، بل توفر تجربة معرفية رائدة تصقل مهاراتك، وتوسع
                            مداركك، وتؤهلك لتكون في صفوف القادة وصنّاع القرار على المستويين المحلي والعالمي. نحن في
                            جامعة مدي نؤمن أن المعرفة الحقيقية هي التي تتحول إلى قوة تدفعك للريادة والتأثير.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
<!-- About -->



<!-- ======= Why Choose Section ======= -->
<section class="why-choose text-center" id="Why-Choose">
    <div class="container">
        <!-- العنوان -->
        <div class="why-choose-content text-center">
            <h2 class="why-choose-title fs-1 fw-bolder mt-3" data-bigletter="لماذا تختارنا؟">
                القيمة التي تميزنا
            </h2>
            <hr>
        </div>

        <!-- الصف -->
        <div class="row g-4">
            <!-- الصندوق 1 -->
            <div class="col-12 col-md-6 col-lg-3">
                <div class="feature-box p-3">
                    <div class="icon-circle mb-3 mx-auto">
                        <i class="fa-solid fa-laptop fs-2"></i>

                    </div>
                    <h5 class="fw-bold why-title-card">مرونة التعلم</h5>
                    <p class="why-p">ادرس من أي مكان وفي أي وقت يناسب جدول أعمالك المزدحم.</p>
                </div>
            </div>

            <!-- الصندوق 2 -->
            <div class="col-12 col-md-6 col-lg-3">
                <div class="feature-box p-3">
                    <div class="icon-circle mb-3 mx-auto">
                        <i class="fa-solid fa-globe fs-2"></i>
                    </div>
                    <h5 class="fw-bold why-title-card">اعتمادات دولية</h5>
                    <p class="why-p">شهادتك معترف بها عالمياً وتفتح لك أبواب المستقبل.</p>
                </div>
            </div>

            <!-- الصندوق 3 -->
            <div class="col-12 col-md-6 col-lg-3">
                <div class="feature-box p-3">
                    <div class="icon-circle mb-3 mx-auto">
                        <i class="fa-solid fa-chalkboard-user fs-2"></i>
                    </div>
                    <h5 class="fw-bold why-title-card">هيئة تدريس خبيرة</h5>
                    <p class="why-p">تعلم من قادة الفكر والخبراء الدوليين في مجالاتهم.</p>
                </div>
            </div>

            <!-- الصندوق 4 -->
            <div class="col-12 col-md-6 col-lg-3">
                <div class="feature-box p-3">
                    <div class="icon-circle mb-3 mx-auto">
                        <i class="fa-solid fa-diagram-project fs-2"></i>
                    </div>
                    <h5 class="fw-bold why-title-card">منهج تطبيقي</h5>
                    <p class="why-p">ركز على دراسات الحالة الواقعية والمشاريع التي تحل مشاكل حقيقية.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ======= End Section ======= -->




<!-- Program Master-->
<section class="programs-section" id="programs">
    <div class="container">
        <!-- العنوان -->
        <div class="programs-content text-center">
            <h2 class="programs-title fs-1 fw-bolder mt-3" data-bigletter="برامج الماجستير الأكاديمي">
                ماجستير يفتح لك آفاق القيادة
            </h2>
            <hr />
        </div>

        <!-- الكروت -->
        <div class="row g-4">
            <!-- كارت 1 -->
            <div class="col-md-6 col-lg-4" (click)="openModal('ماجستير إدارة الأعمال التنفيذي')">
                <div class="card h-100 shadow-sm border-0 p-3 program-card">
                    <div class="d-flex align-items-start">
                        <div class="icon-circle2 bg-purple me-3">
                            <i class="fas fa-briefcase fs-5"></i>
                        </div>
                        <div>
                            <h5 class="fw-bold titles-card">إدارة الأعمال التنفيذي</h5>
                            <p class="text-muted small">
                                "للقادة الذين يصنعون المستقبل" برنامج مكثف يركز على القيادة
                                الاستراتيجية، وإدارة التحول، واتخاذ القرارات المعقدة...
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- كارت 2 -->
            <div class="col-md-6 col-lg-4" (click)="openModal('ماجستير القيادة وإدارة التغيير')">
                <div class="card h-100 shadow-sm border-0 p-3 program-card">
                    <div class="d-flex align-items-start">
                        <div class="icon-circle2 me-3">
                            <i class="fas fa-people-arrows fs-5"></i>
                        </div>
                        <div>
                            <h5 class="fw-bold titles-card">القيادة وإدارة التغيير</h5>
                            <p class="text-muted small">
                                "قد التغيير بنجاح" يمنحك هذا البرنامج الاستراتيجيات اللازمة
                                للتخطيط وإدارة التغيير وبناء ثقافة مؤسسية مرنة...
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- كارت 3 -->
            <div class="col-md-6 col-lg-4" (click)="openModal('ماجستير استراتيجيات الأعمال الرقمية')">
                <div class="card h-100 shadow-sm border-0 p-3 program-card">
                    <div class="d-flex align-items-start">
                        <div class="icon-circle2 bg-purple me-3">
                            <i class="fas fa-digital-tachograph fs-5"></i>
                        </div>
                        <div>
                            <h5 class="fw-bold titles-card">استراتيجيات الأعمال الرقمية</h5>
                            <p class="text-muted small">
                                "حوّل مؤسستك إلى قوة رقمية" تعلم كيفية بناء نماذج أعمال رقمية
                                ودمج الذكاء الاصطناعي والاستفادة من البيانات الضخمة...
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- كارت 4 -->
            <div class="col-md-6 col-lg-4" (click)="openModal('ماجستير في الإدارة المالية التنفيذية')">
                <div class="card h-100 shadow-sm border-0 p-3 program-card">
                    <div class="d-flex align-items-start">
                        <div class="icon-circle2 me-3">
                            <i class="fas fa-coins fs-5"></i>
                        </div>
                        <div>
                            <h5 class="fw-bold titles-card">الإدارة المالية التنفيذية</h5>
                            <p class="text-muted small">
                                "تكلم لغة الأرقام بطلاقة..." يزودك بالمعرفة اللازمة لفهم
                                التقارير المالية، وتقييم الاستثمارات، وإدارة رأس المال...
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- كارت 5 -->
            <div class="col-md-6 col-lg-4" (click)="openModal('ماجستير في إدارة العمليات وسلاسل الإمداد العالمية')">
                <div class="card h-100 shadow-sm border-0 p-3 program-card">
                    <div class="d-flex align-items-start">
                        <div class="icon-circle2 me-3">
                            <i class="fas fa-truck fs-5"></i>
                        </div>
                        <div>
                            <h5 class="fw-bold titles-card">إدارة العمليات وسلاسل الإمداد</h5>
                            <p class="text-muted small">
                                "صمم عمليات تتسم بالكفاءة" تعلم كيفية تحسين كفاءة العمليات
                                التشغيلية، وإدارة سلاسل الإمداد المعقدة عبر الحدود...
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- كارت 6 -->
            <div class="col-md-6 col-lg-4"
                (click)="openModal('ماجستير في التسويق الاستراتيجي وبناء العلامات التجارية')">
                <div class="card h-100 shadow-sm border-0 p-3 program-card">
                    <div class="d-flex align-items-start">
                        <div class="icon-circle2 me-3">
                            <i class="fas fa-bullhorn fs-5"></i>
                        </div>
                        <div>
                            <h5 class="fw-bold titles-card">
                                التسويق الاستراتيجي والعلامات التجارية
                            </h5>
                            <p class="text-muted small">
                                "ابنِ علامة تجارية لا تُنسى" يركز على كيفية بناء استراتيجية
                                تسويق متكاملة، وخلق هوية قوية للعلامة التجارية...
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- كارت 7 -->
            <div class="col-md-6 col-lg-4" (click)="openModal('ماجستير في إدارة المواهب والقيادة')">
                <div class="card h-100 shadow-sm border-0 p-3 program-card">
                    <div class="d-flex align-items-start">
                        <div class="icon-circle2 me-3">
                            <i class="fas fa-user-tie fs-5"></i>
                        </div>
                        <div>
                            <h5 class="fw-bold titles-card">إدارة المواهب والقيادة</h5>
                            <p class="text-muted small">
                                "اجذب أفضل العقول" تعلم كيفية تصميم استراتيجيات متقدمة لجذب
                                الكفاءات، وتطوير قادة المستقبل...
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- كارت 8 -->
            <div class="col-md-6 col-lg-4" (click)="openModal('ماجستير في علوم البيانات للمديرين التنفيذيين')">
                <div class="card h-100 shadow-sm border-0 p-3 program-card">
                    <div class="d-flex align-items-start">
                        <div class="icon-circle2 me-3">
                            <i class="fas fa-database fs-5"></i>
                        </div>
                        <div>
                            <h5 class="fw-bold titles-card">علوم البيانات للمديرين</h5>
                            <p class="text-muted small">
                                "حوّل البيانات إلى أرباح" ركز على كيفية طرح الأسئلة الصحيحة،
                                وتفسير التحليلات، واستخدام الرؤى المستخلصة من البيانات...
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- كارت 9 -->
            <div class="col-md-6 col-lg-4" (click)="openModal('ماجستير إدارة المشاريع')">
                <div class="card h-100 shadow-sm border-0 p-3 program-card">
                    <div class="d-flex align-items-start">
                        <div class="icon-circle2 me-3 fs-5">
                            <i class="fas fa-diagram-project"></i>
                        </div>
                        <div>
                            <h5 class="fw-bold titles-card">إدارة المشاريع</h5>
                            <p class="text-muted small">
                                "حوّل الأفكار إلى إنجازات" يمنحك الأدوات والمنهجيات اللازمة
                                لقيادة الفرق، وإدارة الميزانيات، والالتزام بالجداول الزمنية...
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- كارت 10 -->
            <div class="col-md-6 col-lg-4" (click)="openModal('ماجستير إدارة المخاطر')">
                <div class="card h-100 shadow-sm border-0 p-3 program-card">
                    <div class="d-flex align-items-start">
                        <div class="icon-circle2 me-3">
                            <i class="fas fa-shield-alt fs-5"></i>
                        </div>
                        <div>
                            <h5 class="fw-bold titles-card">إدارة المخاطر</h5>
                            <p class="text-muted small">
                                "تنبأ بالتحديات وحوّلها لفرص" اكتسب القدرة على تحليل المخاطر
                                المالية والتشغيلية والاستراتيجية، ووضع خطط استباقية...
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- كارت 11 -->
            <div class="col-md-6 col-lg-4" (click)="openModal('ماجستير العلاقات العامة')">
                <div class="card h-100 shadow-sm border-0 p-3 program-card">
                    <div class="d-flex align-items-start">
                        <div class="icon-circle2 me-3">
                            <i class="fas fa-handshake fs-5"></i>
                        </div>
                        <div>
                            <h5 class="fw-bold titles-card">العلاقات العامة</h5>
                            <p class="text-muted small">
                                "اصنع سمعة تستحقها علامتك" تعلم فن وعلم بناء صورة ذهنية إيجابية
                                ودائمة، وإتقان مهارات التواصل الاستراتيجي...
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- كارت 12 -->
            <div class="col-md-6 col-lg-4" (click)="openModal('ماجستير التقنية المالية (FinTech)')">
                <div class="card h-100 shadow-sm border-0 p-3 program-card">
                    <div class="d-flex align-items-start">
                        <div class="icon-circle2 me-3">
                            <i class="fas fa-credit-card fs-5"></i>
                        </div>
                        <div>
                            <h5 class="fw-bold titles-card">التقنية المالية (FinTech)</h5>
                            <p class="text-muted small">
                                "قُد الثورة المالية القادمة" اجمع بين الخبرة المالية وقوة
                                التكنولوجيا، وغص في عوالم البلوك تشين والمدفوعات الرقمية...
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- كارت 13 -->
            <div class="col-md-6 col-lg-4" (click)="openModal('ماجستير الأمن السيبراني')">
                <div class="card h-100 shadow-sm border-0 p-3 program-card">
                    <div class="d-flex align-items-start">
                        <div class="icon-circle2 me-3">
                            <i class="fas fa-lock fs-5"></i>
                        </div>
                        <div>
                            <h5 class="fw-bold titles-card">الأمن السيبراني</h5>
                            <p class="text-muted small">
                                "كن الدرع الحامي للعالم الرقمي" اكتسب المهارات المتقدمة لكشف
                                التهديدات، وحماية البيانات، وبناء حصون رقمية منيعة...
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- كارت 14 -->
            <div class="col-md-6 col-lg-4" (click)="openModal('ماجستير الذكاء الاصطناعي')">
                <div class="card h-100 shadow-sm border-0 p-3 program-card">
                    <div class="d-flex align-items-start">
                        <div class="icon-circle2 me-3">
                            <i class="fas fa-robot fs-5"></i>
                        </div>
                        <div>
                            <h5 class="fw-bold titles-card">الذكاء الاصطناعي</h5>
                            <p class="text-muted small">
                                "لا تشاهد المستقبل، بل قم ببنائه" اكتسب القدرة على بناء أنظمة
                                ذكية، وإتقان تعلم الآلة، وابتكار حلول ثورية...
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- كارت 15 -->
            <div class="col-md-6 col-lg-4" (click)="openModal('ماجستير الإعلام الرقمي')">
                <div class="card h-100 shadow-sm border-0 p-3 program-card">
                    <div class="d-flex align-items-start">
                        <div class="icon-circle2 me-3">
                            <i class="fas fa-photo-film"></i>
                        </div>
                        <div>
                            <h5 class="fw-bold titles-card fs-5">الإعلام الرقمي</h5>
                            <p class="text-muted small">
                                "أتقن فن التأثير الرقمي" تعلم كيف تصنع محتوى جذابًا، وتبني
                                مجتمعات متفاعلة، وتدير حملات وسائل التواصل الاجتماعي...
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- كارت 16 -->
            <div class="col-md-6 col-lg-4" (click)="openModal('ماجستير الإدارة الصحية')">
                <div class="card h-100 shadow-sm border-0 p-3 program-card">
                    <div class="d-flex align-items-start">
                        <div class="icon-circle2 me-3">
                            <i class="fas fa-hospital fs-5"></i>
                        </div>
                        <div>
                            <h5 class="fw-bold titles-card">الإدارة الصحية</h5>
                            <p class="text-muted small">
                                "قُد مستقبل الرعاية الصحية" اجمع بين مبادئ الإدارة الحديثة
                                ومتطلبات قطاع الرعاية الصحية لتحسين جودة الخدمة...
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Modal Master -->
<div class="modal fade" tabindex="-1" [ngClass]="{ show: selectedProgram }"
    [ngStyle]="{ display: selectedProgram ? 'block' : 'none' }" (click)="closeModal()">
    <div class="modal-dialog modal-lg modal-dialog-centered" (click)="$event.stopPropagation()">
        <div class="modal-content">
            <div class="modal-header d-flex align-items-center">
                <i *ngIf="selectedIcon" class="fa-solid me-2" [ngClass]="selectedIcon"></i>
                <h5 class="modal-title fs-5 fw-bold mb-0">{{ selectedProgram }}</h5>
                <button type="button" class="btn-close ms-auto" (click)="closeModal()"></button>
            </div>

            <div class="modal-body">
                <h6 class="mb-3 fw-bold">{{ selectedTitle }}</h6>
                <p>{{ selectedContent }}</p>
            </div>

            <div class="modal-footer">
                <button class="btn btn-danger" (click)="closeModal()">إغلاق</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal Master -->
<!-- Program Master -->




<!-- Program PHD-->
<section class="programsPHD-section" id="programsPHD">
    <div class="container">
        <!-- العنوان -->
        <div class="programsPHD-content text-center">
            <h2 class="programsPHD-title fs-1 fw-bolder mt-3" data-bigletter="برامج الدكتوراه">
                دكتوراه تصنع بصمتك الفكرية
            </h2>
            <hr />
        </div>

        <!-- الكروت -->
        <div class="row g-4">
            <!-- كارت 1 -->
            <div class="col-md-6 col-lg-4" (click)="openModalPHD('دكتوراه في إدارة الأعمال (DBA)')">
                <div class="card h-100 shadow-sm border-0 p-3 program-card">
                    <div class="d-flex align-items-start">
                        <div class="icon-circle3 bg-purple me-3">
                            <i class="fas fa-briefcase fs-5"></i>
                        </div>
                        <div>
                            <h5 class="fw-bold titles-card">دكتوراه في إدارة الأعمال (DBA)</h5>
                            <p class="text-muted small">
                                "من قمة الخبرة إلى قمة الفكر"
                                البرنامج الأرقى للقادة التنفيذيين. قم بإجراء بحث تطبيقي يحل تحديًا استراتيجيًا...
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- كارت 2 -->
            <div class="col-md-6 col-lg-4" (click)="openModalPHD('دكتوراه في القيادة الاستراتيجية')">
                <div class="card h-100 shadow-sm border-0 p-3 program-card">
                    <div class="d-flex align-items-start">
                        <div class="icon-circle3 me-3">
                            <i class="fas fa-chess-king fs-5"></i>
                        </div>
                        <div>
                            <h5 class="fw-bold titles-card">دكتوراه في القيادة الاستراتيجية</h5>
                            <p class="text-muted small">
                                "ارسم ملامح المستقبل"
                                ركز على البحث في مستقبل الصناعات، ونماذج القيادة الفعالة في أوقات الأزمات...
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- كارت 3 -->
            <div class="col-md-6 col-lg-4" (click)="openModalPHD('دكتوراه في التحول الرقمي')">
                <div class="card h-100 shadow-sm border-0 p-3 program-card">
                    <div class="d-flex align-items-start">
                        <div class="icon-circle3 bg-purple me-3">
                            <i class="fas fa-microchip fs-5"></i>
                        </div>
                        <div>
                            <h5 class="fw-bold titles-card">دكتوراه في التحول الرقمي</h5>
                            <p class="text-muted small">
                                "كن مهندس الاقتصاد الرقمي"
                                ابحث في كيفية تأثير التقنيات الناشئة مثل الذكاء الاصطناعي والبلوك تشين...
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- كارت 4 -->
            <div class="col-md-6 col-lg-4" (click)="openModalPHD('دكتوراه في الإدارة')">
                <div class="card h-100 shadow-sm border-0 p-3 program-card">
                    <div class="d-flex align-items-start">
                        <div class="icon-circle3 me-3">
                            <i class="fas fa-building fs-5"></i>
                        </div>
                        <div>
                            <h5 class="fw-bold titles-card">دكتوراه في الإدارة</h5>
                            <p class="text-muted small">
                                "من قيادة المؤسسات لقيادة الفكر"
                                هذا البرنامج ليس لتعلم الإدارة، بل لإعادة تعريفها. ستغوص في أبحاث عميقة لتطوير نماذج
                                قيادية...
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- كارت 5 -->
            <div class="col-md-6 col-lg-4" (click)="openModalPHD('دكتوراه في تقنية المعلومات')">
                <div class="card h-100 shadow-sm border-0 p-3 program-card">
                    <div class="d-flex align-items-start">
                        <div class="icon-circle3 me-3">
                            <i class="fas fa-laptop-code fs-5"></i>
                        </div>
                        <div>
                            <h5 class="fw-bold titles-card">دكتوراه في تقنية المعلومات</h5>
                            <p class="text-muted small">
                                "لا تتبع الابتكار، بل كن مصدره"
                                بوابتك لإجراء أبحاث رائدة تساهم في حل التحديات التقنية الكبرى في الحوسبة السحابية وأمن
                                المعلومات...
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- كارت 6 -->
            <div class="col-md-6 col-lg-4" (click)="openModalPHD('دكتوراه في التسويق')">
                <div class="card h-100 shadow-sm border-0 p-3 program-card">
                    <div class="d-flex align-items-start">
                        <div class="icon-circle3 me-3">
                            <i class="fas fa-bullhorn fs-5"></i>
                        </div>
                        <div>
                            <h5 class="fw-bold titles-card">
                                دكتوراه في التسويق
                            </h5>
                            <p class="text-muted small">
                                "اكتشف 'لماذا' يشتري الناس"
                                انطلق نحو فهم أعمق لسلوك المستهلك. ستقوم بأبحاث متقدمة في علم النفس التسويقي...
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- كارت 7 -->
            <div class="col-md-6 col-lg-4" (click)="openModalPHD('دكتوراه في الإعلام الرقمي')">
                <div class="card h-100 shadow-sm border-0 p-3 program-card">
                    <div class="d-flex align-items-start">
                        <div class="icon-circle3 me-3">
                            <i class="fas fa-broadcast-tower fs-5"></i>
                        </div>
                        <div>
                            <h5 class="fw-bold titles-card">دكتوراه في الإعلام الرقمي </h5>
                            <p class="text-muted small">
                                "كن المرجع الفكري الذي يفسر عالمنا الرقمي"
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- كارت 8 -->
            <div class="col-md-6 col-lg-4" (click)="openModalPHD('دكتوراه في الموارد البشرية')">
                <div class="card h-100 shadow-sm border-0 p-3 program-card">
                    <div class="d-flex align-items-start">
                        <div class="icon-circle3 me-3">
                            <i class="fas fa-users-cog fs-5"></i>
                        </div>
                        <div>
                            <h5 class="fw-bold titles-card">دكتوراه في الموارد البشرية </h5>
                            <p class="text-muted small">
                                "صمم مستقبل بيئات العمل، وليس فقط إدارة الموظفين"
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ModalPHD -->
<div class="modal fade" tabindex="-1" [ngClass]="{ show: selectedProgramPHD }"
    [ngStyle]="{ display: selectedProgramPHD ? 'block' : 'none' }" (click)="closeModalPHD()">
    <div class="modal-dialog modal-lg modal-dialog-centered" (click)="$event.stopPropagation()">
        <div class="modal-content">
            <div class="modal-header d-flex align-items-center">
                <i *ngIf="selectedIconPHD" class="fa-solid me-2" [ngClass]="selectedIconPHD"></i>
                <h5 class="modal-title fs-5 fw-bold mb-0">{{ selectedProgramPHD }}</h5>
                <button type="button" class="btn-close ms-auto" (click)="closeModalPHD()"></button>
            </div>

            <div class="modal-body">
                <h6 class="mb-3 fw-bold">{{ selectedTitlePHD }}</h6>
                <p>{{ selectedContentPHD }}</p>
            </div>

            <div class="modal-footer">
                <button class="btn btn-danger" (click)="closeModalPHD()">إغلاق</button>
            </div>
        </div>
    </div>
</div>
<!-- ModalPHD -->
<!-- Program PHD-->



<!-- diploma-section -->
<section class="diploma-section" id="diploma">
    <div class="container">
        <div class="diploma-content text-center">
            <h2 class="diploma-title fs-1 fw-bolder mt-3" data-bigletter="الدبلومات والشهادات المهنية">
                برامج عملية لهدفك المهني
            </h2>
            <hr />
        </div>

        <div id="diplomaCarousel" class="carousel slide pb-5" data-bs-ride="carousel">

            <!-- المحتوى -->
            <div class="carousel-inner text-center">

                <!-- الكارد الأول -->
                <div class="carousel-item active rounded-5">
                    <div class="card shadow border-0 mx-auto my-4" style="max-width: 22rem;">
                        <div class="position-relative">
                            <div class="badge bg-danger position-absolute top-0 end-0 m-2">الأكثر طلبًا</div>
                            <img src="../../../assets/images/FFFFFF (2).svg" class="card-img-top" alt="HR">
                        </div>
                        <div class="card-footer text-center bg-white py-3">
                            <h5 class="fw-bold text-diploma">دبلوم إدارة الموارد البشرية</h5>
                            <p class="small text-muted">
                                المديرين وقادة الموارد البشرية الذين يسعون لتحويل قسمهم إلى شريك
                                استراتيجي يساهم في تحقيق أهداف المؤسسة.
                            </p>
                            <button class="btn color-button-home" data-bs-toggle="modal" data-bs-target="#hrModal">عرض
                                التفاصيل</button>
                        </div>
                    </div>
                </div>

                <!-- الكارد الثاني -->
                <div class="carousel-item rounded-5">
                    <div class="card shadow border-0 mx-auto my-4" style="max-width: 22rem;">
                        <div class="position-relative">
                            <div class="badge bg-danger position-absolute top-0 end-0 m-2">الأكثر طلبًا</div>
                            <img src="../../../assets/images/FFFFFF (1).svg" class="card-img-top" alt="Marketing">
                        </div>
                        <div class="card-footer text-center bg-white py-3">
                            <h5 class="fw-bold text-diploma">دبلوم التسويق الرقمي المتكامل</h5>
                            <p class="small text-muted">
                                لكل متخصص تسويق أو رائد أعمال يطمح إلى إتقان أحدث استراتيجيات التسويق الرقمي لتحقيق نمو
                                استثنائي.
                            </p>
                            <button class="btn color-button-home" data-bs-toggle="modal"
                                data-bs-target="#marketingModal">عرض التفاصيل</button>
                        </div>
                    </div>
                </div>

                <!-- الكارد الثالث -->
                <div class="carousel-item rounded-5">
                    <div class="card shadow border-0 mx-auto my-4" style="max-width: 22rem;">
                        <div class="position-relative">
                            <div class="badge bg-danger position-absolute top-0 end-0 m-2">الأكثر طلبًا</div>
                            <img src="../../../assets/images/FFFFFF.svg" class="card-img-top" alt="Mini MBA">
                        </div>
                        <div class="card-footer text-center bg-white py-3">
                            <h5 class="fw-bold text-diploma">دبلوم إدارة الأعمال المصغر (Mini-MBA)</h5>
                            <p class="small text-muted">
                                موجه للمديرين التنفيذيين ورؤساء الأقسام الراغبين في صقل مهاراتهم الإدارية والحصول على
                                رؤية متكاملة.
                            </p>
                            <button class="btn color-button-home" data-bs-toggle="modal"
                                data-bs-target="#miniMbaModal">عرض التفاصيل</button>
                        </div>
                    </div>
                </div>

            </div>

            <!-- أزرار التحكم -->
            <button class="custom-prev-btn d-none d-md-flex" type="button" data-bs-target="#diplomaCarousel"
                data-bs-slide="prev">
                <span class="carousel-control-next-icon mt-1 ms-1 mt-lg-2 ms-lg-2"></span>
            </button>
            <button class="custom-next-btn d-none d-md-flex" type="button" data-bs-target="#diplomaCarousel"
                data-bs-slide="next">
                <span class="carousel-control-prev-icon mt-1 ms-1 mt-lg-2 ms-lg-2"></span>
            </button>


            <!-- المؤشرات -->
            <div class="carousel-indicators position-relative mt-3">
                <button type="button" data-bs-target="#diplomaCarousel" data-bs-slide-to="0" class="active"
                    aria-current="true"></button>
                <button type="button" data-bs-target="#diplomaCarousel" data-bs-slide-to="1"></button>
                <button type="button" data-bs-target="#diplomaCarousel" data-bs-slide-to="2"></button>
            </div>
        </div>


        <div class="row g-4">
            <p class="text-certificate">الشهادات الاحترفية</p>

            <!-- كارت 1 -->
            <div class="col-md-6 col-lg-4" (click)="openModalCerti('مدير المشاريع المحترف (PMP)')">
                <div class="card h-100 shadow-sm border-0 p-3 program-card">
                    <div class="d-flex align-items-start">
                        <div class="icon-circle2 bg-purple me-3">
                            <i class="fas fa-tasks fs-5"></i>
                        </div>
                        <div>
                            <h5 class="fw-bold titles-card">مدير المشاريع المحترف (PMP)</h5>
                            <p class="text-muted small">
                                استعد للحصول على شهادة PMP العالمية المرموقة...
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- كارت 2 -->
            <div class="col-md-6 col-lg-4" (click)="openModalCerti('تحليل الأعمال المعتمد (CBAP)')">
                <div class="card h-100 shadow-sm border-0 p-3 program-card">
                    <div class="d-flex align-items-start">
                        <div class="icon-circle2 me-3">
                            <i class="fas fa-chart-line fs-5"></i>
                        </div>
                        <div>
                            <h5 class="fw-bold titles-card">تحليل الأعمال المعتمد (CBAP)</h5>
                            <p class="text-muted small">
                                تعلم كيفية تحليل احتياجات المؤسسة واقتراح الحلول الفعالة...
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- كارت 3 -->
            <div class="col-md-6 col-lg-4" (click)="openModalCerti('القيادة والتأثير')">
                <div class="card h-100 shadow-sm border-0 p-3 program-card">
                    <div class="d-flex align-items-start">
                        <div class="icon-circle2 bg-purple me-3">
                            <i class="fas fa-user-tie fs-5"></i>
                        </div>
                        <div>
                            <h5 class="fw-bold titles-card">القيادة والتأثير</h5>
                            <p class="text-muted small">
                                عزز مهاراتك في الإقناع وإلهام فرق العمل...
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- ModalCerti -->
<div class="modal fade" tabindex="-1" [ngClass]="{ show: selectedProgramCerti}"
    [ngStyle]="{ display: selectedProgramCerti ? 'block' : 'none' }" (click)="closeModalCerti()">
    <div class="modal-dialog modal-lg modal-dialog-centered" (click)="$event.stopPropagation()">
        <div class="modal-content">
            <div class="modal-header d-flex align-items-center">
                <i *ngIf="selectedIconCerti" class="fa-solid me-2" [ngClass]="selectedIconCerti"></i>
                <h5 class="modal-title fs-5 fw-bold mb-0">{{ selectedProgramCerti}}</h5>
                <button type="button" class="btn-close ms-auto" (click)="closeModalCerti()"></button>
            </div>

            <div class="modal-body">
                <h6 class="mb-3 fw-bold">{{ selectedTitleCerti }}</h6>
                <p>{{ selectedContentCerti }}</p>
            </div>

            <div class="modal-footer">
                <button class="btn btn-danger" (click)="closeModalCerti()">إغلاق</button>
            </div>
        </div>
    </div>
</div>
<!-- ModalCerti -->


<!-- ================== المودالات ================== -->

<!-- Modal 1: إدارة الموارد البشرية -->
<div class="modal fade" id="hrModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <img src="assets/images/FFFFFF (2).svg" class="img-fluid rounded-top" alt="HR">
            <div class="modal-body2 text-start p-4">
                <h2 class="fw-bold text-center mb-4">دبلوم إدارة الموارد البشرية</h2>
                <h5 class="fw-bold mb-3">لمن هذا البرنامج؟</h5>
                <p>للمديرين وقادة الموارد البشرية الذين يسعون إلى تحويل قسم الموارد البشرية من دور تشغيلي إلى شريك
                    استراتيجي يساهم في تحقيق أهداف المؤسسة.</p>
                <h5 class="fw-bold mt-4 mb-3">ماذا ستتعلم؟</h5>
                <ul class="list-unstyled list-card">
                    <li><i class="fa-solid fa-check text-success fs-5 me-1"></i>
                        تصميم تجربة موظف مميزة لزيادة الولاء والإنتاجية.</li>
                    <li><i class="fa-solid fa-check text-success fs-5 me-1"></i>
                        استخدام تحليلات الموارد البشرية لاتخاذ قرارات مستنيرة.</li>
                    <li><i class="fa-solid fa-check text-success fs-5 me-1"></i>
                        قيادة مبادرات التنوع والشمول في بيئة العمل.</li>
                    <li><i class="fa-solid fa-check text-success fs-5 me-1"></i>
                        تطوير خطط التعاقب الوظيفي وإعداد قادة المستقبل.</li>
                </ul>
            </div>
            <div class="modal-footer d-flex justify-content-between">
                <button type="button" class="btn btn-danger ms-auto" data-bs-dismiss="modal">إغلاق</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal 2: التسويق الرقمي -->
<div class="modal fade" id="marketingModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <img src="assets/images/FFFFFF (1).svg" class="img-fluid rounded-top" alt="Marketing">
            <div class="modal-body2 text-start p-4">
                <h2 class="fw-bold text-center mb-4">دبلوم التسويق الرقمي المتكامل</h2>
                <h5 class="fw-bold mb-3">لمن هذا البرنامج؟</h5>
                <p>لكل متخصص تسويق أو رائد أعمال يطمح إلى إتقان أحدث استراتيجيات التسويق الرقمي لتحقيق نمو استثنائي
                    وزيادة الحصة السوقية.</p>
                <h5 class="fw-bold mt-4 mb-3">ماذا ستتعلم؟</h5>
                <ul class="list-unstyled list-card">
                    <li><i class="fa-solid fa-check text-success fs-5 me-1"></i>صياغة وتطبيق استراتيجية محتوى فعالة تجذب
                        العملاء.</li>
                    <li><i class="fa-solid fa-check text-success fs-5 me-1"></i>تحسين العائد على الاستثمار (ROI) من
                        الحملات الإعلانية المدفوعة.</li>
                    <li><i class="fa-solid fa-check text-success fs-5 me-1"></i>الاستفادة من تحليلات الويب لاتخاذ قرارات
                        تسويقية ذكية.</li>
                    <li><i class="fa-solid fa-check text-success fs-5 me-1"></i>بناء مجتمعات قوية ومتفاعلة حول علامتك
                        التجارية.</li>
                </ul>
            </div>
            <div class="modal-footer d-flex justify-content-between">
                <button type="button" class="btn btn-danger ms-auto" data-bs-dismiss="modal">إغلاق</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal 3: Mini-MBA -->
<div class="modal fade" id="miniMbaModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <img src="assets/images/FFFFFF.svg" class="img-fluid rounded-top" alt="Mini MBA">
            <div class="modal-body2 text-start p-4">
                <h2 class="fw-bold text-center mb-4">دبلوم إدارة الأعمال المصغر (Mini-MBA)</h2>
                <h5 class="fw-bold mb-3">لمن هذا البرنامج؟</h5>
                <p>موجه للمديرين التنفيذيين ورؤساء الأقسام الذين يرغبون في صقل مهاراتهم الإدارية والحصول على رؤية
                    متكاملة لمختلف وظائف المؤسسة.
                </p>
                <h5 class="fw-bold mt-4 mb-3">ماذا ستتعلم؟</h5>
                <ul class="list-unstyled list-card">
                    <li><i class="fa-solid fa-check text-success fs-5 me-1"></i>تطوير الفكر الاستراتيجي وتحليل البيئة
                        التنافسية</li>
                    <li><i class="fa-solid fa-check text-success fs-5 me-1"></i>إتقان أدوات التحليل المالي وتقييم
                        الاستثمارات</li>
                    <li><i class="fa-solid fa-check text-success fs-5 me-1"></i>بناء استراتيجيات تسويق مبتكرة تركز على
                        العميل</li>
                    <li><i class="fa-solid fa-check text-success fs-5 me-1"></i>قيادة التغيير وتطوير ثقافة مؤسسية عالية
                        الأداء.</li>
                </ul>
            </div>
            <div class="modal-footer d-flex justify-content-between">
                <button type="button" class="btn btn-danger ms-auto" data-bs-dismiss="modal">إغلاق</button>
            </div>
        </div>
    </div>
</div>
<!-- diploma-section -->




<!-- Knowledge-section -->
<section class="knowledge-section" id="knowledge">
    <div class="container text-center">
        <!-- العنوان -->
        <div class="knowledge-content text-center">
            <h2 class="knowledge-title fs-1 fw-bolder mt-3" data-bigletter="مصادر معرفية">
                اقرأ، تعلم، تقدّم
            </h2>
            <hr />
        </div>

        <!-- البطاقات -->
        <div class="row g-4 justify-content-center">

            <!-- بطاقة 1 -->
            <div class="col-md-4">
                <div class="card h-100 border-0 ">
                    <div class="card-img-top card-header-img rounded-top-4"
                        style="background-image: url('assets/images/البكالوريس.webp');">
                    </div>
                    <div class="card-body bg-light text-start rounded-bottom-3">
                        <small class="text-muted d-block mb-2">القيادة في رؤية 2030</small>
                        <h6 class="fw-bold fs-5">
                            القيادة في رؤية 2030: كيف تساهم في التحول الوطني؟
                        </h6>
                        <a href="#" class=" small fw-bold">اقرأ المزيد</a>
                    </div>
                </div>
            </div>

            <!-- بطاقة 2 -->
            <div class="col-md-4">
                <div class="card h-100  border-0 ">
                    <div class="card-img-top card-header-img rounded-top-4"
                        style="background-image: url('assets/images/books-knowledge-study-education-word-graphic.webp');">
                    </div>
                    <div class="card-body bg-light text-start rounded-bottom-3">
                        <small class="text-muted d-block mb-2">استراتيجيات التفاوض للقادة</small>
                        <h6 class="fw-bold fs-5">
                            استراتيجيات التفاوض المتقدمة للقادة التنفيذيين
                        </h6>
                        <a href="#" class=" small fw-bold">اقرأ المزيد</a>
                    </div>
                </div>
            </div>

            <!-- بطاقة 3 -->
            <div class="col-md-4">
                <div class="card h-100  border-0 ">
                    <div class="card-img-top card-header-img rounded-top-4"
                        style="background-image: url('assets/images/hercules-hall-surrounded-by-greenery-sunlight-daytime-munich-germany2.webp');">
                    </div>
                    <div class="card-body bg-light text-start rounded-bottom-3">
                        <small class="text-muted d-block mb-2">بناء علامتك التجارية الشخصية</small>
                        <h6 class="fw-bold fs-5">
                            دليلك لبناء علامة تجارية شخصية قوية كقائد
                        </h6>
                        <a href="#" class=" small fw-bold">اقرأ المزيد</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- Knowledge-section -->


<!-- Start Contact -->
<header class="Contact" id="contact">
    <div class="container-fluid px-md-5 text-center">
        <div class="Contact-content text-center">
            <h2 class="gettouch fw-bolder fs-1 pb-2" data-bigletter="اتصل بنا">
                فريق الجامعة
            </h2>
            <hr>
        </div>

        <div class="container">
            <div class="row gy-5 py-5">

                <div class="col-md-6">
                    <h3 class="h3-contact mb-5 me-5">تواصل مع فريق <span style="color: #009447;">القبول والتسجيل</span>
                        لدينا لمعرفة المزيد عن البرامج وكيف يمكنك الانضمام إلى نخبة قادة المستقبل.</h3>
                    <div class="row">
                        <div class="col-lg-1 col-md-2 col-2 icons-Contact">
                            <i class="fa-solid fa-map fs-2"></i>
                        </div>
                        <div class="col-lg-11 col-md-10 col-10 items-Contact">
                            <h4>العنوان</h4>
                            <p>مركز الشموخ للعمال، منطقة التجارة الحرة، أم القيوين، الإمارات العربية المتحدة</p>
                        </div>
                    </div>
                    <hr class="hr-contact">
                    <div class="row">
                        <div class="col-lg-1 col-md-2 col-2 icons-Contact">
                            <i class="fa-solid fa-mobile-screen-button fs-2"></i>
                        </div>
                        <div class="col-lg-11 col-md-10 col-10 items-Contact">
                            <h4>الهاتف</h4>
                            <p>971552029019+</p>
                        </div>
                    </div>
                    <hr class="hr-contact">
                    <div class="row">
                        <div class="col-lg-1 col-md-2 col-2 icons-Contact">
                            <i class="fa-regular fa-envelope fs-2"></i>
                        </div>
                        <div class="col-lg-11 col-md-10 col-10 items-Contact">
                            <h4>
                                البريد الالكتروني</h4>
                            <a href="mailto:LAWEXPERTSUAE@GMAIL.COM"
                                class="text-decoration-none">LAWEXPERTSUAE&#64;GMAIL.COM</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <form #contactForm="ngForm" (ngSubmit)="sendEmail($event)" novalidate>
                        <div class="row">
                            <div class="col-md-12 mb-3">
                                <div class="form-group">
                                    <input type="text" class="form-control rounded-0 p-2 text-secondary" name="name"
                                        id="name" [(ngModel)]="formData.name" autocomplete="name" placeholder="الاسم"
                                        required>
                                </div>
                            </div>

                            <div class="col-md-12 mb-3">
                                <div class="form-group">
                                    <input type="email" class="form-control rounded-0 p-2" name="email" id="email"
                                        [(ngModel)]="formData.email" autocomplete="email"
                                        placeholder="البريد الالكتروني" required email>
                                </div>
                            </div>

                            <div class="col-md-12 mb-3">
                                <div class="form-group">
                                    <input type="tel" class="form-control rounded-0 p-2" name="phone" id="phone"
                                        [(ngModel)]="formData.phone" autocomplete="tel" placeholder="رقم الهاتف"
                                        required>
                                </div>
                            </div>

                            <div class="col-md-12 mb-3">
                                <div class="form-group">
                                    <textarea class="form-control area-edit rounded-0 p-2" name="message" id="message"
                                        [(ngModel)]="formData.message" autocomplete="off" placeholder="رسالتك"
                                        required></textarea>
                                </div>
                            </div>


                            <div class="col-md-12 mt-2 text-start">
                                <button type="submit" class="py-2 px-3 color-button-contact edit-cursor-button">
                                    <i class="fa-solid fa-paper-plane me-1"></i>
                                    ارسل طلبك الآن
                                </button>
                            </div>

                        </div>
                    </form>
                </div>


            </div>
        </div>
    </div>
</header>
<!-- End Contact -->